<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Spartan&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(../static/eyeback.jpg);" >
<div>
  <div class='center'>
    <div class='title'> <h1>CLASSIFY EYE DISEASES</h1></div>
    <p class='para'>
      Use images of , <strong>RED-EYES</strong>, <strong>JAUNDICE-EYES</strong> and <strong>NORMAL-EYES</strong>.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button selectimg'  type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button selectimg' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'style="width:200px;height:100px;border-radius: 10px;background-color: black">
        <label id='result-label'style="font-size: 40px;color:white"></label>
      </div>
      <div class='result'>
        <a href="result"></a>
    </div>
  </div>
</div>
</body>
</html>
