body{
  font-family: 'Fira', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}
.para{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration:underline;
    font-family: 'Spartan', sans-serif;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
.first {
background: url(images/first.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.list {
background: url(images/backe.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;

}
li{
  color: white
}
button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #445AD7;
    font-size: 13px;
   font-family: 'Montserrat', sans-serif;

    color: #445AD7;
}
.selectimg:hover {
  background: #1b262c;
  color: white;

  text-decoration: none;
}
body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}
.para{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration:underline;
    font-family: 'Spartan', sans-serif;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
.first {
background: url(images/first.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.list {
background: url(images/backe.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;

}
li{
  color: white
}
button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #445AD7;
    font-size: 13px;
   font-family: 'Montserrat', sans-serif;

    color: #445AD7;
}
.selectimg:hover {
  background: #1b262c;
  color: white;

  text-decoration: none;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #445AD7;
    border-radius: 2px;
    background-color: #445AD7;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


button:focus {
    outline: 0;
}


button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #445AD7;
    border-radius: 2px;
    background-color: #445AD7;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


button:focus {
    outline: 0;
}

.abc{
  text-align: center;
  padding-left: 400px;
}
.carousel-item{
  height: 100vh;
}
.content{
  margin-top: 300px;
  text-align: center;
  color: #000;
}
.content2{
  margin-top: 300px;
  text-align: center;
  color:#000;
}
.carousel-item{
  width: 100%;
}
.content3{
  margin-top: 300px;
  text-align: center;
  color: #000;
}
.aa{
  width: 20px;
  height: 30px;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.section-padding{
  padding: 100px 0;
}
.section-header{
  padding-bottom: 30px;
}
.navbar-brand{
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-area{
  background: #262626;
}
.navbar-nav .nav-link{
  padding-right: 0;
  padding-left: 0;
  color: #fff !important;
  font-weight: bold;
}
.nav-item{
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
}
.slider-area{
    background-image: url(im/imagesa.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color:#fff;
    position: relative;

}
.slider-area:before{

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(360deg,#000,transparent);
  padding-bottom: 40px;
}
.slider-text h1{
  font-size: 45px;
  font-weight: bold;
}
.slider-text a{
  padding: 10px 15px;
  background-color: #2980b9;
  color:#fff;
  display: inline-block;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.slider-text{
  text-align: center;
  padding-top: 20%;

}

/*about area*/
.about-img img{
  width:100%;
  position: relative;
}
.about-img img:before{
  position: relative;
}
.item-text{
  padding-left: 15px;
}
.item-text h4{
  margin-bottom: 30px;
}
.stats-area{
  background-image: url(../static/images/bac.gif);
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;

}
.stats-area:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,#000,transparent);
  z-index: -1;
}
.single-stats{
  color: #fff;
  text-align: center;
}
.single-stats i{
  margin-bottom: 20px;
}
.single-stats h2{
  font-weight: bold;
  font-size: 50px;
}
.single-stats p{
  font-family: 'Audiowide',cursive;
}

.services-area{
  text-align:center;
}
.single-service{
  border: 1px solid #ddd;
  padding: 30px 20px;
  margin-bottom: 15px;
}
.single-services h2{
  margin: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.single-service:hover{
  background: #262626;
  color: #fff;
  transition: .6s;
}

.single-award h2{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Audiowide',cursive;
}

.class-a{
  background-image: url(../static/images/bac.gif);
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  text-align: center;

}
.class-a:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg,#000,transparent);
  z-index: -1;
}
.imga{
  text-align:center;

}
#imga{
  text-align:center;
  width:550px;
  height:400px;
}
.single-award a{
  text-decoration: none;
  display: inline-block;
  background: #2980b9;
  color: #fff;
  padding: 15px 30px;
  margin-top: 25px;
  border-radius: 50px;
  text-transform: uppercase;
}

.ac{
  width: 250px;
  height: 250px;

}
.single-work img{
  width: 100%;
}
.single-work{
  margin-bottom: 30px;
}
.portfolio-area .section-padding{
  padding-bottom: 30px;
}
.boy-area{

  background-image: url(im/giphy.gif);
  -webkit-background-size:cover;
  background-size: cover;

  background-position: center center;
  height: 300px;
  color:#000;
  padding-top: 20px;
  position: relative;

}
body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}
.para{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration:underline;
    font-family: 'Spartan', sans-serif;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
.first {
background: url(../static/images/first.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.list {
background: url(../static/images/backe.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;

}
li{
  color: white
}
button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #445AD7;
    font-size: 13px;
   font-family: 'Montserrat', sans-serif;

    color: #445AD7;
}
.selectimg:hover {
  background: #1b262c;
  color: white;

  text-decoration: none;
}
body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}
.para{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration:underline;
    font-family: 'Spartan', sans-serif;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
.first {
background: url(../static/images/first.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.list {
background: url(../static/images/backe.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;

}
li{
  color: white
}
button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #445AD7;
    font-size: 13px;
   font-family: 'Montserrat', sans-serif;

    color: #445AD7;
}
.selectimg:hover {
  background: #1b262c;
  color: white;

  text-decoration: none;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #445AD7;
    border-radius: 2px;
    background-color: #445AD7;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


button:focus {
    outline: 0;
}


button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #445AD7;
    border-radius: 2px;
    background-color: #445AD7;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


button:focus {
    outline: 0;
}

.footer-area{
  background: #262626;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
@@media only screen and(min-width:768px)and(max-width:991px){

}
@@media only screen and(max-width:767px) {
  .section-header h2{
    font-size:22px;
    font-weight:bold;
  }.navbar-toggler-icon i.fa{
    color: #fff;
  }
  .slider-text h1{
    font-size: 22px;
  }
}
